<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Procuração</title>
</head>
<body>
    <h2 style="text-align: center;">PROCURAÇÃO AD JUDICIA ET EXTRA</h2>
    
    <p><strong>OUTORGANTE:</strong> {{nome}}, {{nacionalidade}}, {{estado_civil}}, {{profissao}}, inscrito no RG nº {{rg}} {{orgao}}, CPF nº {{cpf}}, residente em: {{rua}}, Nº {{numero_e_complemento}}, {{bairro}}, {{cidade}}/{{estado}}, CEP: {{cep}}, TELEFONE: {{ddd}} {{telefone}}, E-mail: {{email}}.</p>
    
    <p><strong>OUTORGADA:</strong> JACQUELLINE TOLEDO SALVIONI, BRASILEIRA, SOLTEIRA, inscrita na OAB/SP sob o n° 376.684, com escritório situado à Rua Cidade De Araras Número 106, no bairro Jardim Madeirese, na cidade de GUARULHOS/SP, CEP: 07115-120.</p>
    
    <p><strong>PODERES:</strong> Conforme o art. 105 do Código de Processo Civil, os contidos na cláusula “ad judicia et extra”, para, em nome do(a) outorgante, recorrer a quaisquer instâncias e Tribunais, e perante todo e qualquer órgão do Sistema Nacional de Trânsito, podendo propor contra quem de direito as ações competentes e defender os interesses do(a) outorgante nas contrárias, seguindo umas e outras, até final decisão, usando dos recursos legais e acompanhando-os, conferindo-lhes, ainda, poderes especiais para elaborar ou responder notificações judiciais e extrajudiciais, receber citação, receber intimações, nomear prepostos, receber e dar quitação, transigir, fazer acordo, firmar compromisso, renunciar, desistir, reconhecer a procedência do pedido, podendo atuar em conjunto ou separadamente, sendo permitido o substabelecimento, no todo ou em parte, dando tudo por bom e valioso, para representação de seus interesses da maneira mais diligente possível.</p>
    
    <p style="text-align: center;">CIDADE: __________________, DIA: ____ MÊS: ______________ de 2025.</p>
    
    <p style="text-align: center;">______________________________________________</p>
    <p style="text-align: center;"><strong>{{nome}}</strong></p>
</body>
</html>
